# Игнорируем системные файлы
.DS_Store
*.log

# Игнорируем виртуальное окружение
venv/
env/
.venv/

# Игнорируем кэш Python
__pycache__/
*.py[cod]

# Игнорируем скачанные файлы
downloads/

# Игнорируем IDE файлы
.idea/
.vscode/

# Игнорируем файл с куками
cookies.txt
